 
--SELECT * FROM S_ROLE_BASED_OBJECT_ACCESS WHERE _LAST_UPDATED_BY = 'jkv_rrathod' 
--SELECT * FROM S_ROLE_BASED_OBJECT_ACCESS WHERE  ROLE_ID = 5 AND OBJECT_ID IN (221,228,230) 

DECLARE @S_ROLE_BASED_OBJECT_ACCESS AS TABLE 
	(
	[OBJECT_ACCESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_ID] [int] NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[OBJECT_ID] [int] NOT NULL,
	[COMMAND] [smallint] NULL,
	[_LAST_UPDATED_BY] [varchar](100) NOT NULL DEFAULT (suser_name()),
	[_LAST_UPDATED_ON] [datetime] NOT NULL DEFAULT (getdate())
	)


INSERT @S_ROLE_BASED_OBJECT_ACCESS ([CLIENT_ID], [ORGANIZATION_ID], [ROLE_ID], [OBJECT_ID], [COMMAND], [_LAST_UPDATED_BY], [_LAST_UPDATED_ON]) VALUES (1, 1, 5, 216, 1, N'jkv_rrathod', CAST(N'2016-12-16 06:20:33.483' AS DateTime))
INSERT @S_ROLE_BASED_OBJECT_ACCESS ([CLIENT_ID], [ORGANIZATION_ID], [ROLE_ID], [OBJECT_ID], [COMMAND], [_LAST_UPDATED_BY], [_LAST_UPDATED_ON]) VALUES (1, 1, 5, 215, 1, N'jkv_rrathod', CAST(N'2016-12-16 06:20:33.483' AS DateTime))
INSERT @S_ROLE_BASED_OBJECT_ACCESS ([CLIENT_ID], [ORGANIZATION_ID], [ROLE_ID], [OBJECT_ID], [COMMAND], [_LAST_UPDATED_BY], [_LAST_UPDATED_ON]) VALUES (1, 1, 5, 218, 1, N'jkv_rrathod', CAST(N'2016-12-16 06:28:48.413' AS DateTime))



--DELETE FROM S_ROLE_BASED_OBJECT_ACCESS WHERE OBJECT_ACCESS_ID IN (
--SELECT s1.OBJECT_ACCESS_ID 
--FROM S_ROLE_BASED_OBJECT_ACCESS s1
--INNER JOIN @S_ROLE_BASED_OBJECT_ACCESS s2
--ON s1.ROLE_ID = s2.ROLE_ID
--AND s1.OBJECT_ID = s2.OBJECT_ID
--WHERE s2.ROLE_ID IS NOT NULL
--AND s1.OBJECT_ACCESS_ID NOT IN (583
--,672
--,753))


SELECT s1.OBJECT_ACCESS_ID 
FROM S_ROLE_BASED_OBJECT_ACCESS s1
INNER JOIN @S_ROLE_BASED_OBJECT_ACCESS s2
ON s1.ROLE_ID = s2.ROLE_ID
AND s1.OBJECT_ID = s2.OBJECT_ID
WHERE s2.ROLE_ID IS NOT NULL
AND s1.OBJECT_ACCESS_ID NOT IN (583
,672
,753)







SELECT * FROM S_ROLE_BASED_OBJECT_ACCESS WHERE  ROLE_ID = 5 AND OBJECT_ID IN (221,228,230) 

